/* --- General Styles --- */
.user__name {
    margin: 20px 35px;
    border-bottom: 1px solid #e0e0e0;
    line-height: 2;
    font-size: 24px;
    font-weight: 400;
    color: #999595;
    font-family: monospace;
}


.cards__container {
    display: flex;
    gap: 2rem;
    margin: 3rem;
}


.card {
    display: flex;
    flex-direction: column; 
    flex: 1;
    background-color: #f9f9f9;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    overflow: hidden;
}

.card__header {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
    color: #333;
    padding: 1rem 1.5rem; 
    border-bottom: 1px solid #e0e0e0; 
    background-color: #fff;
}

.chart__icon {
    margin-right: 8px;
    color: #007bff;
}

.card__body {
    display: flex;
    align-items: flex-start;
    padding: 1.5rem;
}


.card__left {
    line-height: 1.5;
    margin-right: 2rem;
}

.title {
    font-weight: 500;
    font-size: 2.5rem;
    color: #222;
}

.lable {
    color: #888;
    font-weight: 400;
}

.card__right {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-left: 2rem;
    border-left: 1px solid #ddd;
    width: 100%;
}

.view__statement {
    text-decoration: none;
    font-size: 15px;
    color: #007bff;
    margin-top: 0.5rem;
}

.block {
  display: flex;
  justify-content: space-between;
}

.block span {
    font-weight: 400;
    color: #9e9e9e;
    font-size: 15px;
}

.horizontale__line {
    margin: 20px 35px;
    border-top: 1px solid #6e6e6e;
}

/* Holding States */

.holding_portfolio {
    display: flex;
}

.common {
    width: 100%;
    margin: 20px 35px;
    padding: 10px;
}

.HoldingS__info {
    flex: 2;
}

.empty__div {
    flex: 1;
}

.empty__state {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.investing__btn {
    background-color: #007bff;
    font-weight: 500;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    width: fit-content;
    margin-top: 10px; 
    cursor: pointer;
}

.investing__btn:hover {
    box-shadow: 2px 2px 2px 2px #afaaaa;
}

.holding_image {
    height: 100px;
    width: 100px;
    align-self: center;
}

.holding__description {
    display: flex;
    text-align: center;
    margin-bottom: 19px;
    color: #6e6e6e;
    font-size: 14px;
}