/* watchlist */
.watchlist-container {
    width: 35%;
    height: 100vh;
    position: fixed;
    margin-top: 10px;
    left: 0;
    border-right: 1px solid gray;
    overflow-y: auto;
}

/* Container for the entire search component */
.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0.95rem 10px;
  gap: 10px;
  width: 90%;
  border: 1px solid gray;
  border-radius: 15px;
  color: gray;
  position: relative;
}

/* Wrapper for the input and its results dropdown */
.search-input-wrapper {
  display: flex;
  align-items: center;
  flex: 1;
}

/* The search icon */
.search-icon {
  margin-left: 10px;
  color: gray;
}

/* The search bar input field */
.sidebar-search-bar {
  flex: 1;
  height: 36px;
  padding: 5px;
  border: none;
  font-size: 16px;
  background-color: transparent;
}

.sidebar-search-bar::placeholder {
  padding-left: 0.5rem;
  color: gray;
  font-size: 15px;
}

.sidebar-search-bar:focus {
  outline: none;
  border: none;
}

/* The container for the search results dropdown */
.sidebar-search-result {
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  right: 0;
  max-height: 200px;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

/* Styling for each individual result item */
.sidebar-search-item {
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  color: #333333;
}

.sidebar-search-item:hover {
  background-color: #f0f0f0;
}

.exchange-sidebar {
  font-size: 0.8rem;
  background-color: #0d5db3;
  color: #fff;
  font-size: 13px;
  border-radius: 5px;
  text-align: center;
  padding: 2px;
}

.no-results-sidebar {
  padding: 10px;
  text-align: center;
  color: #888;
}

/* Loader style */
.loader-sidebar {
  padding: 10px;
  text-align: center;
  color: #555;
  font-style: italic;
}

.right-components {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.sort-icon {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

/* watchlist section */

.watchlist-size {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 25px;
    font-size: 15px;
}

.new-group a{
    text-decoration: none;
    cursor: pointer;
}

.donut-graph {
  max-width: 80%;
  margin-left: 2.2rem;
  margin-top: 1.5rem;
}