* {
  margin: 0;
  padding : 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* global css for the display */

.summary {
  margin-left: 35%;
  padding-left: 15px;
  padding-top: 25px;
}